extends _partial/layout

block title
  title= `${config.title} | ${config.subtitle}`

block content
  div.content__index
    .posts.typo
      for post in page.posts.toArray()
          .post
            h2.post__title
              a(href=url_for(post.path))
                = post.title
            .post__date= post.date.format(config.date_format)
            if post.description
              .post__content
                != post.description
            else if post.excerpt
              .post__content
                != post.excerpt
            else if post.content
              - var br = post.content.indexOf('\n')
              if br < 0
                .post__content
                  != post.content
              else
                .post__content
                  != post.content.substring(0, br)
            if post.tags
              .post__tags
                for tag in post.tags.toArray()
                  a(href=url_for(tag.path))= tag.name

block pagination
  include _partial/paginator
